<include file="Public/header" />
<include file="Public/top" />
<include file="Public/menu" />

	<div class="details-rele-box">
		<div class="details-fissue">
			<a href="{:U('Home/Demand/goods_add',array('action'=>ACTION_NAME))}">发布需求</a>
		</div>
	</div>
	
<div class="h-seek-nav" style="padding-top:0;">
  <div class="wrap">
		<div class="discount-box">
		  <div class="wrap">
		   <div class="box-top-nav">位置：<a href="">首页</a><span> &gt; </span><a href="">原创交易</a></div>
		   <div class="discount-head yc">
		   			<ul>
		   				<li class="on"><a href="">原创交易</a></li>
		   				<li class="on fr"><a href="">上传出售</a></li>
		   			</ul>
		   			<!-- 清浮动 -->
					<div class="clearfloat"></div>	
		   </div>
		  </div>
		</div>
  	<div class="h-seek-column">
			<div class="h-seek-factor">
				<em class="fl">图片分类：</em>
				<ul>
					<li class="on"><a href="">电视背景墙</a><span>|</span></li>
					<li><a href="">玄关</a><span>|</span></li>
					<li><a href="">创意地板</a><span>|</span></li>
					<li><a href="">绘画</a><span>|</span></li>
					<li><a href="">风景</a><span>|</span></li>
					<li><a href="">其他</a></li>
				</ul>
			</div>
			<div class="h-seek-factor">
				<em class="fl">图片格式：</em>
				<ul>
					<li class="on"><a href="">JPGE</a><span>|</span></li>
					<li><a href="">PSD</a><span>|</span></li>
					<li><a href="">AI</a><span>|</span></li>
					<li><a href="">CDR</a><span>|</span></li>
					<li><a href="">EPS</a><span>|</span></li>
					<li><a href="">TIFF</a></li>
					<li><a href="">其他</a></li>
				</ul>
			</div>
			<div class="h-seek-fabel">
				<a class="mani on" href=""><i class="c-ico-zh"></i>综合</a>
				<a class="mani" href=""><i class="c-ico-xz"></i>价格</a>
				<a class="mani" href=""><i class="c-ico-xz"></i>最新</a>
				<a class="mani" href=""><i class="c-ico-xz"></i>下载</a>
				<!-- <div class="allzj fr">全部专辑(3305) <i class="c-ico-xia"></i>
				  	<div class="zj-hover">
						<div class="jt"></div>
						<div class="zj">
							<p><a href="">专辑名称一</a></p>
							<p><a href="">专辑名称一</a></p>
							<p><a href="">专辑名称一</a></p>
							<p><a href="">专辑名称一</a></p>
							<p><a href="">专辑名称一</a></p>
						</div>
					</div>
				</div> -->
				<!-- 清浮动 -->
				<div class="clearfloat"></div>	
			</div>
	</div>
  </div>
</div>

<!-- 瀑布流 -->
	<div class="h-water-box">
		<div class="wrap">
			<div class="zkxz-container">
				
				
				<notempty name="list">
				<div id="main-content" class="water-main-box">
				  <div class="water-item opacity">
				  	<div class="it-snav">
				  		<a href="{:U('Home/Goods/concept_details')}"><img src="__IMGS__/water.jpg" width="250" alt=""></a>
				    </div>
				  	<p><i class="c-ico-mon"></i>悬赏：5金币 <em class="fr">0回答</em></p>
				  	<p><i class="c-ico-head"></i><span class="orange">Daisy 黛西</span><em class="fr">1小时前</em></p>
				  </div>
				</div>
				<!-- 翻页 -->
				<div class="pro_page">  
					{$show}	
				</div>
				<else />
					<div id="main-content" class="water-main-box">
					</div>
				  <div class="no-result" style="">
				  	<p><img src="__IMG__/cry.png" alt=""></p>
				  	<p style="margin-top:40px;">抱歉，没有找到符合条件的素材</p>
				  	<h3>建议您简化或换关键词搜索</h3>
				  	<a class="sumb-but" href="">发布需求</a>
				  </div>
				</notempty>
				
				
			</div>
		</div>
	</div>
<script>
$(function(){  
   $('#main-content').masonry({
    itemSelector : '.water-item',
    isAnimated: false,
    gutterWidth:43
  });  
   var $container = $('#main-content');  
	$container.imagesLoaded( function(){  
	    $container.masonry({  
	        itemSelector : '.water-item'
	    });  
	});
});

</script>
<include file="Public/footer" />