<include file="Public/header" />
<include file="Public/top" />
<include file="Public/menu" />

<div class="top-banner"><img src="__IMGS__/banner5.jpg" width="100%" alt=""></div>
 <!--   -->
 <div class="sell-pic-box">
 	<div class="wrap">
 		<div class="detaile-left fl">
		 	<div class="box-top-nav">位置：<a href="">背景墙</a><span> &gt; </span><a href="">玄关</a><span> &gt; </span><a href="">高清玉兰花瓶彩雕玄关过道背景</a></div>
		 	 
	 
			
			<div class="show-area">
				<!-- 图片展示 -->
				<img class="show-area-pic" src="__IMGS__/faka.jpg" alt="">
			</div>
					
			<div class="show-layout" style="border:0;">
				<div class="layou-item">
					<p>清晨阳光树公园风景油画背景墙壁画模板下载 清晨阳光树公园风景油画背景墙壁画图片下载家居室内绿色清新早晨公园阳光风景油画电视背景墙 植物园 植物 花草 美丽 大树 树木 草地 绿树 青草 自然风光装饰画 旅游旅行社壁画 墙画 贴纸 酒店 卧室 沙发背景墙 北京植物园 植物园小路 仙湖植物园</p>
				</div>
			</div>
		 </div>
			
		 <div class="detaile-right fr">
		 	 <div class="sell-pic-detail">
		 	 	<div class="box-bo-bord">
		 	 	  <h3 class="title">浪漫枫树森林草原公园风景壁画背景墙</h3>
		 	 	  <p>您的普通会员价：50哇图币［<a class="orange" href="">充值</a>］</p>
		 	 	  <p><span class="t-span">6折会员价</span> <em>20我图币</em></p>
		 	 	  <p>还不是会员？<a class="qblue" href="">查看如何获得会员特权 > </a></p>
		 	 	  <p><a class="bo-cf" href="cstxq-yebz.html"><i class="c-ico-xiazai"></i>下载源文件</a></p>
		 	 	  <p>下载：0 收藏：0</p>
			 	 	  <div class="share-box">分享： 
						 <div class="jiathis_style_32x32">
							<a class="jiathis_button_qzone"></a>
							<a class="jiathis_button_tsina"></a>
							<a class="jiathis_button_tqq"></a>
							<a class="jiathis_button_weixin"></a>
							<a class="jiathis_button_renren"></a>
							<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
							<a class="jiathis_counter_style"></a>
						</div>
						<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
					 </div>
		 	 	</div>

		 	 	<div class="box-bo-bord">
		 	 		<h3>详细参数</h3>
		 	 		<p>编号: 12922953</p>    
					<p>格式: Photoshop 7.0</p>
					<p>路径: 无</p>
					<p>尺寸: 宽320 * 高200 厘</p>
					<p>大小: 28.19MB</p>
					<p>分辨率: 72 dpi</p>
					<p>文档：3200像素×3200像素</p>
					<p>颜色模式: RGB</p>
					<p>上传时间: 2014-12-12 21:44:41</p>
					<p>图片描述: 精美风景图片</p>
		 	 	</div>

		 	 	<div class="box-bo-bord">
		 	 		<div class="m-pic fl">
		 	 			<img src="__IMGS__/memberinfo.jpg" width="68" height="68" alt="">
		 	 		</div>
		 	 		<div class="m-info fl">
		 	 			<p>上传者：灰机来了</p>
		 	 			<p class="love no1">等级：</p>
		 	 			<p>收入：<em class="red">1.000</em>元</p>
		 	 		</div>
		 	 		<!-- 清除浮动 -->
		            <div class="clearfloat"></div>
		 	 	</div>

		 	 	<div class="copyright-con">
		 	 		<h4>版权声明</h4>
		 	 		<p>哇图网所有作品（含预览图）仅供学习、交流之用。如需商用，请获得版权拥有者授权，并遵守我国著作权的相关规定。若因非法使用引起纠纷，一切后果有使用者承担。</p>
		 	 		<div style="margin-top:10px;"><img src="img/jubao.png" alt=""></div>
		 	 	</div>

		 	 </div>
		 </div>

<!-- 清除浮动 -->
<div class="clearfloat"></div>
		<div class="comment-box">
			<h3>出价记录(共6次出价)</h3>
			  <div class="com-main">
				<div class="head-label"> <!--   -->
					<span class="man-w305">上传者</span><span class="man-w6">出价</span><span class="man-w6">时间</span><span class="man-w47">状态</span><span class="man-w6 txt-cen">竞价说明</span>
				</div>
				<div class="com-item">
					<div class="man-w305 fl"> 
						<div class="box-bo-bord">
				 	 		<div class="m-pic fl">
				 	 			<img src="__IMGS__/memberinfo.jpg" width="68" height="68" alt="">
				 	 		</div>
				 	 		<div class="m-info fl">
				 	 			<p>上传者：灰机来了</p>
				 	 			<p class="love no1">等级：</p>
				 	 			<p>收入：<em class="red">1.000</em>元</p>
				 	 		</div>
				 	 		<!-- 清除浮动 -->
				            <div class="clearfloat"></div>
				 	 	</div>
		 	 		</div>
					<div class="man-w6 pd-top fl"><span class="orange">15哇图币</span></div>
					<div class="man-w6 pd-top fl"><p>2015-10-01</p>09:40:58</div>
					<div class="man-w47 pd-top fl"><em class="lead">领先</em></div>
					<div class="man-w6 pd-top txt-cen fl"><div>这图好飘零</div><a class="orange" href="">回复</a></div>
					<!-- 清除浮动 -->
					<div class="clearfloat"></div>

					<div class="con-two">
						<h4>灰机来了123：</h4>
							<div class="con">护肤内容护肤内容回复内容回复内容回复内容回复内容回复内容回复内容回复内容回复内容</div>
						 <p class="times">2015-06-30   10:30:25</p>
					</div>

					<div class="con-two">
						<h4>灰机来了123：</h4>
							<div class="con">护肤内容护肤内容回复内容回复内容回复内容回复内容回复内容回复内容回复内容回复内容</div>
						 <p class="times">2015-06-30   10:30:25</p>
					</div>

					 <div class="text-edit">
					 	<textarea></textarea><input class="tjs" type="submit">
					 </div>
				</div>

				<div class="com-item">
					<div class="man-w305 fl"> 
						<div class="box-bo-bord">
				 	 		<div class="m-pic fl">
				 	 			<img src="__IMGS__/memberinfo.jpg" width="68" height="68" alt="">
				 	 		</div>
				 	 		<div class="m-info fl">
				 	 			<p>上传者：灰机来了</p>
				 	 			<p class="love no1">等级：</p>
				 	 			<p>收入：<em class="red">1.000</em>元</p>
				 	 		</div>
				 	 		<!-- 清除浮动 -->
				            <div class="clearfloat"></div>
				 	 	</div>
		 	 		</div>
					<div class="man-w6 pd-top fl"><span class="orange">15哇图币</span></div>
					<div class="man-w6 pd-top fl"><p>2015-10-01</p>09:40:58</div>
					<div class="man-w47 pd-top fl"><em class="outs">出局</em></div>
					<div class="man-w6 pd-top txt-cen fl"><div>这图好飘零</div><a class="orange" href="">回复</a></div>
					<!-- 清除浮动 -->
					<div class="clearfloat"></div>
 
			 </div>
		</div>
				<div class="load-more"><a class="but-shan" href="">加载更多</a></div>
 	</div>

		<div class="xgtp">
			<h3 class="common-title">相关图片 <a class="font12 fr" href="">更多>> </a> </h3>
			<div>
				<div class="main-con">
				<ul>
					<li>
						<a href=""><img src="__IMGS__/pic.jpg" alt=""></a>
						<p><a href="">中国水墨画饰品</a></p>
						<p>下载<i class="red">50</i>次 <em>售出于2015-12-31</em></p>
					</li>
					<li>
						<a href=""><img src="__IMGS__/pic.jpg" alt=""></a>
						<p><a href="">中国水墨画饰品</a></p>
						<p>下载<i class="red">50</i>次 <em>售出于2015-12-31</em></p>
					</li>
					<li>
						<a href=""><img src="__IMGS__/pic.jpg" alt=""></a>
						<p><a href="">中国水墨画饰品</a></p>
						<p>下载<i class="red">50</i>次 <em>售出于2015-12-31</em></p>
					</li>
					<li>
						<a href=""><img src="__IMGS__/pic.jpg" alt=""></a>
						<p><a href="">中国水墨画饰品</a></p>
						<p>下载<i class="red">50</i>次 <em>售出于2015-12-31</em></p>
					</li>
			 
				</ul>
			 <!-- 清除浮动 -->
				<div class="clearfloat"></div>
			</div>
			</div>
		</div>
 </div>
<!--  end -->

<include file="Public/footer" />