<include file="Public/header" />
<include file="Public/top" />
<include file="Public/menu" />

 <!-- 详情发布需求  -->
<div class="details-rele-box">
	<div class="details-fissue">
		<a href="">发布需求</a>
	</div>
</div>
<!-- 详情发布需求 end -->

<div class="detailes-main-box">
	<div class="wrap">
		 <div class="detaile-left fl">
		 	<div class="box-top-nav">位置：<a href="">首页</a><span> > </span><a href="">找图</a><span> > </span><a href="">找天空高清图</a></div>
		 	<div class="box-top-nav">图片标题：<span>找天空高清图</span></div>
		 	<div class="box-top-nav">[ 悬赏<em class="red">10</em> 哇图币 剩余 <em class="red">10</em> 哇图币 ]  		<i class="b-ico-jb"></i>已托管 <i class="b-ico-tim"></i>1天7小时后截止
				<a class="but-shan fr" href="">追加赏金</a>
				<!-- 清除浮动 -->
		          <div class="clearfloat"></div>
		 	</div>
			
			<div class="show-area">
				<!-- 图片展示 -->
				<img class="show-area-pic" src="__IMGS__/show.jpg" alt="">
			</div>
					
			<div class="show-layout">
				<div class="layou-item">
					<p>相似度：<span>100%</span>&nbsp;&nbsp;&nbsp;图片格式：<span>jpg</span></p>
				</div>
				<div class="layou-item">
					<p>扩展需求：<span>我要的是这个图片的高清图</span></p>
				</div>
			</div>

			<div class="ty-title">参与记录</div>
			<div class="layou-reco-box">
				<div class="r-item">
					<div class="l-mem-pic">
						<img src="__IMGS__/memberinfo.jpg" alt="">
					</div>
					<p>用户名：<span>回寄来了</span> <time>2015-09-21 15:30:52</time> <span class="bidding"><i class="b-ico-bidd"></i> 已中标，获得10哇图币悬赏</span></p>
					<p class="grade no5">等级：</p>
					<p class="supp-s">补充说明：<span>有可以做到一模一样的吗？</span> <a id="offer-reward" class="but-shan fr" href="javascript:">悬赏</a></p>

					<div class="the-con">
						<em class="bidd-pic"><img src="img/bidding.png" alt=""></em>
						<img class="the-con-pic" src="__IMGS__/show.jpg" alt="">
						<p class="ad-pad">附件：<a class="annex" href="">点击下载附件</a></p>
					</div>
						<!-- 评论 -->
					<div class="comment-item">
						<p><span class="orange">灰机来了:</span><em class="fr tim">2015-10-31 15:30:59</em></p>
						<div class="comment-con">
							这个图是我一开始找的。就是因为要做大的壁纸，像素不行。你看看还能不能找到别的大的？
						</div>
					</div>
					<div class="comment-item">
						<p><span class="orange">灰机来了:</span><em class="fr tim">2015-10-31 15:30:59</em></p>
						<div class="comment-con">
							这个图是我一开始找的。就是因为要做大的壁纸，像素不行。你看看还能不能找到别的大的？
						</div>
					</div>
					<p class="reply"><a href="">回复</a></p>
					<div class="textareas">
						<textarea></textarea>
						<a class="but-shan fr" href="">提 交</a>
					</div>
					<!-- 清除浮动 -->
		            <div class="clearfloat"></div>
				</div>

				<div class="r-item">
					<div class="l-mem-pic">
						<img src="__IMGS__/memberinfo.jpg" alt="">
					</div>
					<p>用户名：<span>回寄来了</span> <time>2015-09-21 15:30:52</time></p>
					<p class="grade no5">等级：</p>
					<p class="">需要报酬：<em class="orange">200哇图币</em></p>
					<p class="supp-s">补充说明：<span>有可以做到一模一样的吗？</span></p>
					<p class="reply"><a href="">回复</a></p>
					<!-- 清除浮动 -->
		            <div class="clearfloat"></div>
				</div>

				<div class="r-item">
					<div class="l-mem-pic">
						<img src="__IMGS__/memberinfo.jpg" alt="">
					</div>
					<p>用户名：<span>回寄来了</span> <time>2015-09-21 15:30:52</time></p>
					<p class="grade no5">等级：</p>
					<p class="">需要报酬：<em class="orange">200哇图币</em></p>
					<p class="supp-s">补充说明：<span>有可以做到一模一样的吗？</span></p>
					<p class="reply"><a href="">回复</a></p>
					<!-- 清除浮动 -->
		            <div class="clearfloat"></div>
				</div>

				<p class="mtop"><a class="but-shan fr" href="">加载更多</a></p>
				<!-- 清除浮动 -->
		            <div class="clearfloat"></div>
			</div>
		 </div>


		 <div class="detaile-right fr">
		 		<a class="back-lis fr" href="">返回找图列表</a>
		 		<!-- 清除浮动 -->
		        <div class="clearfloat"></div>

		 	<div class="detaile-member-box">
		 		<div class="detaile-member-pic">
		 			<img src="__IMGS__/memberinfo.jpg" alt="">
		 		</div>
		 		<h2>我是印刷人</h2>
		 		<p>发布时间：2015-12-1</p>
		 		<p>任务列表：20151251124</p>
		 		<!-- 清除浮动 -->
		        <div class="clearfloat"></div>
		 	</div>

		 	<div class="demand-box">
		 		<h4>相关需求</h4>
		 		<div class="demand-item-box">
			 		<ul>
			 			<li><a href="">找情景高清图</a> <span class="fr"><em class="orange">20</em>哇图币</span></li>
			 			<li><a href="">找情景高清图</a> <span class="fr"><em class="orange">20</em>哇图币</span></li>
			 			<li><a href="">找情景高清图</a> <span class="fr"><em class="orange">20</em>哇图币</span></li>
			 			<li><a href="">找情景高清图</a> <span class="fr"><em class="orange">20</em>哇图币</span></li>
			 			<li><a href="">找情景高清图</a> <span class="fr"><em class="orange">20</em>哇图币</span></li>
			 			<li><a href="">找情景高清图</a> <span class="fr"><em class="orange">20</em>哇图币</span></li>
			 			<li><a href="">找情景高清图</a> <span class="fr"><em class="orange">20</em>哇图币</span></li>
			 			<li><a href="">找情景高清图</a> <span class="fr"><em class="orange">20</em>哇图币</span></li>
			 			<li><a href="">找情景高清图</a> <span class="fr"><em class="orange">20</em>哇图币</span></li>
			 			<li><a href="">找情景高清图</a> <span class="fr"><em class="orange">20</em>哇图币</span></li>
			 		</ul>
			 	</div>
		 	</div>
		 </div>
		 <!-- 清除浮动 -->
		<div class="clearfloat"></div>
	</div>
</div>

<div class="publishess">
	<div class="wrap">
	  <p><b>发布流程</b><span class="pub1">01 发布需求</span><span class="pub2">02 参与选稿</span><span class="pub3">03 支付赏金</span><span class="pub4">04 交易完成</span></p>
	  <p><b>竞标流程</b><span class="pub5">01 任务投标</span><span class="pub4">02 获得选标</span><span class="pub2">03 设计交易</span><span class="pub6">03 交易完成</span></p>
	</div>
</div>

<!--foot nav  end-->
<!-- 弹窗部分 -->
<div class="modal-dialog-bg" style="display: none;"></div>
	<div class="modal-wrapper" style="display:none;">
		<div class="hint-box"> 
		  <p>悬赏后，哇图币将直接进入对方账户，请确认稿件在悬赏。</p>	 
		  <p><b>请输入支付密码：</b><input type="password"> <a class="blue" href=""> 忘记密码？</a> </p>
		  <p><input type="checkbox"> 同意<a class="blue" href="">哇图网求图求助协议</a></p>
		  <p><a id="affirm" class="but-shan" href="javascript:">立刻支付</a></p>
		  <i id="close" class="b-ico-close"></i>
		</div>
	</div>
<!-- 悬赏成功 -->
	<div class="modal-wrapper" style="display:none;">
		<div class="hint-box"> 
		  <p class="hint-ts-styls"><img src="img/win.png" alt=""></p>	 
		  <p class="hint-ts-styls"><a class="hint-qd-btu" href="">确定</a></p>		  
		  <i id="close" class="b-ico-close"></i>
		</div>
	</div>
<!-- 悬赏失败 -->
	<div class="modal-wrapper" style="display:none;">
		<div class="hint-box"> 
		  <p class="hint-ts-styls"><img src="img/fall.png" alt=""></p>	 
		  <p class="hint-ts-styls"><a class="hint-qd-btu" href="">确定</a></p>		  
		  <i id="close" class="b-ico-close"></i>
		</div>
	</div>
<!-- 追加哇图币 -->
<div class="modal-wrapper" style="display:none;">
		<div class="hint-box"> 
		  <p>追加 <input class="hint-inp-text" type="text"> 哇图币(追加不可低于1哇图币)</p>	 
		  <p>账户余额: <em class="orange">520.00</em> 哇图币 此次追加<b>将扣除<em class="red">50</em>哇图币</b>。请输入支付密码再追加。</p>
		  <p><b>请输入支付密码：</b><input type="password"> <a class="blue" href=""> 忘记密码？</a> </p>
		  <p><input type="checkbox"> 同意<a class="blue" href="">哇图网求图求助协议</a></p>
		  <p><a id="affirm" class="but-shan" href="javascript:">立刻支付</a></p>
		  <i id="close" class="b-ico-close"></i>
		</div>
	</div>
<!-- 追加赏金成功 -->
	<div class="modal-wrapper" style="display:none;">
		<div class="hint-box"> 
		  <p class="hint-ts-styls"><img src="img/zj-win.png" alt=""></p>	 
		  <p class="hint-ts-styls"><a class="hint-qd-btu" href="">确定</a></p>		  
		  <i id="close" class="b-ico-close"></i>
		</div>
	</div>



<include file="Public/footer" />