<include file="Public/header" />
<include file="Public/top" />
<include file="Public/menu" />

 <!-- 详情发布需求  -->
	<div class="details-rele-box">
		<div class="details-fissue">
			<a href="{:U('Home/Demand/goods_add',array('action'=>ACTION_NAME))}">发布需求</a>
		</div>
	</div>
<!-- 详情发布需求 end -->

<div class="detailes-main-box">
	<div class="wrap">
		 <div class="detaile-left fl">
		 	<div class="box-top-nav">位置：<a href="">首页</a><span> > </span><a href="">找图</a><span> > </span><a href="">找天空高清图</a></div>
		 	<div class="box-top-nav">图片标题：<span>找天空高清图</span></div>
		 	<div class="box-top-nav">[ 悬赏<em class="red">10</em> 哇图币 剩余 <em class="red">10</em> 哇图币 ]  		<i class="b-ico-jb"></i>已托管 <i class="b-ico-tim"></i>1天7小时后截止
				<a onclick="takeback()" class="but-shan bb-cf fr" href="javascript:">取回赏金</a>
				<!-- 清除浮动 -->
		          <div class="clearfloat"></div>
		 	</div>
			
			<div class="show-area">
				<!-- 图片展示 -->
				<img class="show-area-pic" src="__IMGS__/show.jpg" alt="">
			</div>
					
			<div class="show-layout">
				<div class="layou-item">
					<p>相似度：<span>100%</span>&nbsp;&nbsp;&nbsp;图片格式：<span>jpg</span></p>
				</div>
				<div class="layou-item">
					<p>扩展需求：<span>我要的是这个图片的高清图</span></p>
				</div>
			</div>

			<div class="ty-title">参与记录</div>
			<div class="layou-reco-box">
				<h3 class="nocy">暂无人参与</h3>
				<!-- 清除浮动 -->
		            <div class="clearfloat"></div>
			</div>
		 </div>


		 <div class="detaile-right fr">
		 		<a class="back-lis fr" href="">返回找图列表</a>
		 		<!-- 清除浮动 -->
		        <div class="clearfloat"></div>

		 	<div class="detaile-member-box">
		 		<div class="detaile-member-pic">
		 			<img src="__IMGS__/memberinfo.jpg" alt="">
		 		</div>
		 		<h2>我是印刷人</h2>
		 		<p>发布时间：2015-12-1</p>
		 		<p>任务列表：20151251124</p>
		 		<!-- 清除浮动 -->
		        <div class="clearfloat"></div>
		 	</div>

		 	<div class="demand-box">
		 		<h4>相关需求</h4>
		 		<div class="demand-item-box">
			 		<ul>
			 			<li><a href="">找情景高清图</a> <span class="fr"><em class="orange">20</em>哇图币</span></li>
			 			<li><a href="">找情景高清图</a> <span class="fr"><em class="orange">20</em>哇图币</span></li>
			 			<li><a href="">找情景高清图</a> <span class="fr"><em class="orange">20</em>哇图币</span></li>
			 			<li><a href="">找情景高清图</a> <span class="fr"><em class="orange">20</em>哇图币</span></li>
			 			<li><a href="">找情景高清图</a> <span class="fr"><em class="orange">20</em>哇图币</span></li>
			 			<li><a href="">找情景高清图</a> <span class="fr"><em class="orange">20</em>哇图币</span></li>
			 			<li><a href="">找情景高清图</a> <span class="fr"><em class="orange">20</em>哇图币</span></li>
			 			<li><a href="">找情景高清图</a> <span class="fr"><em class="orange">20</em>哇图币</span></li>
			 			<li><a href="">找情景高清图</a> <span class="fr"><em class="orange">20</em>哇图币</span></li>
			 			<li><a href="">找情景高清图</a> <span class="fr"><em class="orange">20</em>哇图币</span></li>
			 		</ul>
			 	</div>
		 	</div>
		 </div>
		 <!-- 清除浮动 -->
		<div class="clearfloat"></div>
	</div>
</div>


<div class="publishess">
	<div class="wrap">
	  <p><b>发布流程</b><span class="pub1">01 发布需求</span><span class="pub2">02 参与选稿</span><span class="pub3">03 支付赏金</span><span class="pub4">04 交易完成</span></p>
	  <p><b>竞标流程</b><span class="pub5">01 任务投标</span><span class="pub4">02 获得选标</span><span class="pub2">03 设计交易</span><span class="pub6">03 交易完成</span></p>
	</div>
</div>


<include file="Public/footer" />