<include file="Public/header" />
<include file="Public/top" />
<include file="Public/menu" />

<div class="detailes-main-box">
	<div class="wrap">
		 <div class="detaile-left fl">
		 	<div class="box-top-nav">位置：<a href="">首页</a><span> > </span><a href="">折扣下载</a><span> > </span><a href="">找天空高清图</a></div>
		 	<div class="box-top-nav">图片标题：<span>找天空高清图</span></div>
		 	<div class="box-top-nav">[ 悬赏<em class="red">10</em> 哇图币 剩余 <em class="red">10</em> 哇图币 ]  		<i class="b-ico-jb"></i>已托管 <i class="b-ico-tim"></i>1天7小时后截止
				<a onclick="addbounty()" class="but-shan fr" href="javascript:">追加赏金</a>
				<!-- 清除浮动 -->
		          <div class="clearfloat"></div>
		 	</div>
			
			<div class="show-area">
				<!-- 图片展示 -->
				<img class="show-area-pic" src="__IMGS__/show1.jpg" alt="">
			</div>
					
			<div class="show-layout">
				<div class="layou-item">
					<p>下载地址：<span class="red">www.baidu.com</span></p>
				</div>
				<div class="layou-item">
					<p>扩展需求：<span>下载这张图</span></p>
				</div>
			</div>

			<div class="ty-title">参与记录</div>
			<div class="layou-reco-box">
				<div class="r-item">
					<div class="l-mem-pic">
						<img src="__IMGS__/memberinfo.jpg" alt="">
					</div>
					<p>用户名：<span>回寄来了</span> <time>2015-09-21 15:30:52</time></p>
					<p class="grade no5">等级：</p>
					<p class="supp-s">补充说明：<span>有可以做到一模一样的吗？</span> <a onclick="rewardplay()" class="but-shan fr" href="javascript:">悬赏</a></p>

					<div class="the-con">
						<img class="the-con-pic" src="__IMGS__/show1.jpg" alt="">
						<p class="ad-pad">附件：<a class="annex" href="">点击下载附件</a></p>
					</div>
						<!-- 评论 -->
					<div class="comment-item">
						<p><span class="orange">灰机来了:</span><em class="fr tim">2015-10-31 15:30:59</em></p>
						<div class="comment-con">
							这个图是我一开始找的。就是因为要做大的壁纸，像素不行。你看看还能不能找到别的大的？
						</div>
					</div>
					<div class="comment-item">
						<p><span class="orange">灰机来了:</span><em class="fr tim">2015-10-31 15:30:59</em></p>
						<div class="comment-con">
							这个图是我一开始找的。就是因为要做大的壁纸，像素不行。你看看还能不能找到别的大的？
						</div>
					</div>
					<p class="reply"><a href="">回复</a></p>
					<div class="textareas">
						<textarea></textarea>
						<a class="but-shan fr" href="">提 交</a>
					</div>
					<!-- 清除浮动 -->
		            <div class="clearfloat"></div>
				</div>

				<div class="r-item">
					<div class="l-mem-pic">
						<img src="__IMGS__/memberinfo.jpg" alt="">
					</div>
					<p>用户名：<span>回寄来了</span> <time>2015-09-21 15:30:52</time></p>
					<p class="grade no5">等级：</p>
					<p class="">需要报酬：<em class="orange">200哇图币</em></p>
					<p class="supp-s">补充说明：<span>有可以做到一模一样的吗？</span></p>
					<p class="reply"><a href="">回复</a></p>
					<!-- 清除浮动 -->
		            <div class="clearfloat"></div>
				</div>

				<div class="r-item">
					<div class="l-mem-pic">
						<img src="__IMGS__/memberinfo.jpg" alt="">
					</div>
					<p>用户名：<span>回寄来了</span> <time>2015-09-21 15:30:52</time></p>
					<p class="grade no5">等级：</p>
					<p class="">需要报酬：<em class="orange">200哇图币</em></p>
					<p class="supp-s">补充说明：<span>有可以做到一模一样的吗？</span></p>
					<p class="reply"><a href="">回复</a></p>
					<!-- 清除浮动 -->
		            <div class="clearfloat"></div>
				</div>

				<p class="mtop"><a class="but-shan fr" href="">加载更多</a></p>
				<!-- 清除浮动 -->
		            <div class="clearfloat"></div>
			</div>
		 </div>


		 <div class="detaile-right fr">
		 		<a class="back-lis fr" href="">返回折扣下载列表</a>
		 		<!-- 清除浮动 -->
		        <div class="clearfloat"></div>

		 	<div class="detaile-member-box">
		 		<div class="detaile-member-pic">
		 			<img src="__IMGS__/memberinfo.jpg" alt="">
		 		</div>
		 		<h2>我是印刷人</h2>
		 		<p>发布时间：2015-12-1</p>
		 		<p>任务列表：20151251124</p>
		 		<!-- 清除浮动 -->
		        <div class="clearfloat"></div>
		 	</div>

		 	<div class="demand-box">
		 		<h4>相关需求</h4>
		 		<div class="demand-item-box">
			 		<ul>
			 			<li><a href="">找情景高清图</a> <span class="fr"><em class="orange">20</em>哇图币</span></li>
			 			<li><a href="">找情景高清图</a> <span class="fr"><em class="orange">20</em>哇图币</span></li>
			 			<li><a href="">找情景高清图</a> <span class="fr"><em class="orange">20</em>哇图币</span></li>
			 			<li><a href="">找情景高清图</a> <span class="fr"><em class="orange">20</em>哇图币</span></li>
			 			<li><a href="">找情景高清图</a> <span class="fr"><em class="orange">20</em>哇图币</span></li>
			 			<li><a href="">找情景高清图</a> <span class="fr"><em class="orange">20</em>哇图币</span></li>
			 			<li><a href="">找情景高清图</a> <span class="fr"><em class="orange">20</em>哇图币</span></li>
			 			<li><a href="">找情景高清图</a> <span class="fr"><em class="orange">20</em>哇图币</span></li>
			 			<li><a href="">找情景高清图</a> <span class="fr"><em class="orange">20</em>哇图币</span></li>
			 			<li><a href="">找情景高清图</a> <span class="fr"><em class="orange">20</em>哇图币</span></li>
			 		</ul>
			 	</div>
		 	</div>
		 </div>
		 <!-- 清除浮动 -->
		<div class="clearfloat"></div>
	</div>
</div>


<div class="publishess">
	<div class="wrap">
	  <p><b>发布流程</b><span class="pub1">01 发布需求</span><span class="pub2">02 参与选稿</span><span class="pub3">03 支付赏金</span><span class="pub4">04 交易完成</span></p>
	  <p><b>竞标流程</b><span class="pub5">01 任务投标</span><span class="pub4">02 获得选标</span><span class="pub2">03 设计交易</span><span class="pub6">03 交易完成</span></p>
	</div>
</div>

<include file="Public/footer" />