<include file="Public/header" />
<include file="Public/nav" />
<div class="admin-main-box">
	<div class="wrap overhide mrg-bot">
		<include file="Public/menu" />

		<div class="manage-list-con fl">
			<div class="admin-index-con-detail">
				<div class="admin-index-head">
					<div class="admin-man-top">
						<div class="admin-man-top-nav"><a href="wdqz.html">进行中 <i class="red">0</i></a></div>
						<div class="admin-man-top-nav on"><a href="wdqz-ywc.html">已完成</a></div>
					 	<!-- 清除浮动 -->
						<div class="clearfloat"></div>
					</div>
					<div class="manage-list-con-detail">
    			<div class="manage-head">
    				<span class="man-w5">预览图</span><span class="man-w2">图片信息</span><span class="man-w4">操作</span>
    			</div>
    			<div class="manage-item">
    				<div class="man-w5 mana-a fl">
    					<input type="checkbox">
    					<img src="__IMGS__/osdf.jpg" width="100" height="80" alt="">
    				</div>
    				<div class="man-w2 mana-b fl">
    					<p>图片名称：书画装饰笔画</p>
    					<p>20151112123546</p>
    					<p>参数：RAR；200.21KB</p>
    				</div>
    				<div class="man-w4 mana-c fl">
    				   <em class="blues">进行中...</em>
    				</div>
    				<!-- 清除浮动 -->
				      <div class="clearfloat"></div>
    			</div>

    			<div class="manage-item">
    				<div class="man-w5 mana-a fl">
    					<input type="checkbox">
    					<img src="__IMGS__/osdf.jpg" width="100" height="80" alt="">
    				</div>
    				<div class="man-w2 mana-b fl">
    					<p>图片名称：书画装饰笔画</p>
    					<p>20151112123546</p>
    					<p>参数：RAR；200.21KB</p>
    				</div>
    				<div class="man-w4 mana-c fl">
    				   <em class="blues">进行中...</em>
    				</div>
    				<!-- 清除浮动 -->
				      <div class="clearfloat"></div>
    			</div>
    			
    			<div class="list-delete">
					<a class="batch" href="javascript:">批量删除</a>　　&nbsp;
					<label><input type="checkbox"> <a href="javascript:" onclick="selectall()">全选</a></label>
				</div>

    			<!-- 翻页 -->
				<div class="pro_page">  
					<div><a class="num" href="">首页</a><span class="current">1</span><a class="num" href="">2</a><a class="num" href="">3</a><a class="num" href="">末页</a><a class="next" href="">下一页</a> 
					</div>		
				</div>
			</div>
				</div>
			</div>

			<!-- 广告部分 -->
				<div style="height:80px;"></div>
				<div class="footbanner"><img src="img/banner.jpg" alt=""></div>
		</div>
		 <!-- 清除浮动 -->
		<div class="clearfloat"></div>
	</div>
</div>



<include file="Public/footer" />
