<include file="Public/header" />
<include file="Public/nav" />

<div class="admin-main-box">
	<div class="wrap overhide mrg-bot">
		<include file="Public/menu" />

		<div class="manage-list-con fl">
		   <h3 class="common-title">个人等级</h3>
		   <div class="memb-grade-box">
			 <div class="thisrank">当前<p class="grade no3">等级：</p></div>
			 <div class="thisrank">距离下一等级：<span class="plan"><em class="palnr" style="width:50%"></em></span>&nbsp;<em class="font12">118/1000</em></div>
			<p class="dj">个人等级</p>
		   		<div class="manage-head">
    				<span class="man-w8">时间</span><span class="man-w8">消费</span><span class="man-w8">经验值</span><span class="man-w8">详情</span>
    			</div>
    			<div class="manage-item">
    				<div class="man-w8 mana-e fl"><em>2015-10-12  9:25:25</em></div>
    				<div class="man-w8 mana-b fl">
    					<p>收入：100哇图币</p>
    				</div>
    				<div class="man-w8 fl">
    				    <p><em class="red">+100</em>经验值</p>
    				</div>
    				<div class="man-w8 fl">
    				  <p>完成<em class="blues">《图标图片》</em>任务获得悬赏</p>
    				</div>
    				<!-- 清除浮动 -->
				      <div class="clearfloat"></div>
    			</div>

    			<div class="manage-item">
    				<div class="man-w8 mana-e fl"><em>2015-10-12  9:25:25</em></div>
    				<div class="man-w8 mana-b fl">
    					<p>收入：100哇图币</p>
    				</div>
    				<div class="man-w8 fl">
    				    <p><em class="red">+100</em>经验值</p>
    				</div>
    				<div class="man-w8 fl">
    				  <p>完成<em class="blues">《图标图片》</em>任务获得悬赏</p>
    				</div>
    				<!-- 清除浮动 -->
				      <div class="clearfloat"></div>
    			</div>

    			<div class="manage-item">
    				<div class="man-w8 mana-e fl"><em>2015-10-12  9:25:25</em></div>
    				<div class="man-w8 mana-b fl">
    					<p>收入：100哇图币</p>
    				</div>
    				<div class="man-w8 fl">
    				    <p><em class="red">+100</em>经验值</p>
    				</div>
    				<div class="man-w8 fl">
    				  <p>完成<em class="blues">《图标图片》</em>任务获得悬赏</p>
    				</div>
    				<!-- 清除浮动 -->
				      <div class="clearfloat"></div>
    			</div>

    			<div class="manage-item">
    				<div class="man-w8 mana-e fl"><em>2015-10-12  9:25:25</em></div>
    				<div class="man-w8 mana-b fl">
    					<p>收入：100哇图币</p>
    				</div>
    				<div class="man-w8 fl">
    				    <p><em class="red">+100</em>经验值</p>
    				</div>
    				<div class="man-w8 fl">
    				  <p>完成<em class="blues">《图标图片》</em>任务获得悬赏</p>
    				</div>
    				<!-- 清除浮动 -->
				      <div class="clearfloat"></div>
    			</div>

    			<div class="manage-item">
    				<div class="man-w8 mana-e fl"><em>2015-10-12  9:25:25</em></div>
    				<div class="man-w8 mana-b fl">
    					<p>收入：100哇图币</p>
    				</div>
    				<div class="man-w8 fl">
    				    <p><em class="red">+100</em>经验值</p>
    				</div>
    				<div class="man-w8 fl">
    				  <p>完成<em class="blues">《图标图片》</em>任务获得悬赏</p>
    				</div>
    				<!-- 清除浮动 -->
				      <div class="clearfloat"></div>
    			</div>

    			<div class="manage-item">
    				<div class="man-w8 mana-e fl"><em>2015-10-12  9:25:25</em></div>
    				<div class="man-w8 mana-b fl">
    					<p>收入：100哇图币</p>
    				</div>
    				<div class="man-w8 fl">
    				    <p><em class="red">+100</em>经验值</p>
    				</div>
    				<div class="man-w8 fl">
    				  <p>完成<em class="blues">《图标图片》</em>任务获得悬赏</p>
    				</div>
    				<!-- 清除浮动 -->
				      <div class="clearfloat"></div>
    			</div>

    			<div class="manage-item">
    				<div class="man-w8 mana-e fl"><em>2015-10-12  9:25:25</em></div>
    				<div class="man-w8 mana-b fl">
    					<p>收入：100哇图币</p>
    				</div>
    				<div class="man-w8 fl">
    				    <p><em class="red">+100</em>经验值</p>
    				</div>
    				<div class="man-w8 fl">
    				  <p>完成<em class="blues">《图标图片》</em>任务获得悬赏</p>
    				</div>
    				<!-- 清除浮动 -->
				      <div class="clearfloat"></div>
    			</div>

    			<div class="manage-item">
    				<div class="man-w8 mana-e fl"><em>2015-10-12  9:25:25</em></div>
    				<div class="man-w8 mana-b fl">
    					<p>收入：100哇图币</p>
    				</div>
    				<div class="man-w8 fl">
    				    <p><em class="red">+100</em>经验值</p>
    				</div>
    				<div class="man-w8 fl">
    				  <p>完成<em class="blues">《图标图片》</em>任务获得悬赏</p>
    				</div>
    				<!-- 清除浮动 -->
				      <div class="clearfloat"></div>
    			</div>
	 
		   </div>

		   	<!-- 翻页 -->
		    <div class="pro_page">  
					<div><a class="num" href="">首页</a><span class="current">1</span><a class="num" href="">2</a><a class="num" href="">3</a><a class="num" href="">末页</a><a class="next" href="">下一页</a> 
					</div>		
				</div>

				<!-- 广告部分 -->
				<div style="height:80px;"></div>
				<div class="footbanner"><img src="img/banner.jpg" alt=""></div>
		</div>
		 <!-- 清除浮动 -->
		<div class="clearfloat"></div>
	</div>
</div>
<include file="Public/footer" />
