<include file="Public/header" />
<include file="Public/nav" />
<div class="admin-main-box">
	<div class="wrap overhide mrg-bot">
		<include file="Public/menu" />

		<div class="manage-list-con fl">
		   	<div class="report-record-detail">
		   	   <h3 class="common-title">标题：我要举报一张图片</h3>
		   	   <div class="chat-box">
		   	   	  <div class="chat-item">
		   	   	  	 <img src="__IMGS__/memberinfo.jpg" class="fl" width="45" height="45" alt="">
		   	   	  	  <div class="chat-contaier fl">
		   	   	  	  	<div>我要举报这张图片<br>我是举报者<br>
		   	   	  	  		举报内容举报内容举报内容举报内容举报内容举报内容举报内容举报内容举报内容举报内容举报内容举报内容举报内容举报内容举报内容举报内容举报内容举报内容
		   	   	  	  	</div>
		   	   	  	  	 <div class="chat-time"><em>2015年11月25日 12:31:20</em></div>
		   	   	  	  </div>
		   	   	  	  <!-- 清除浮动 -->
		               <div class="clearfloat"></div>
		   	   	  </div>

		   	   	  <div class="chat-item">
		   	   	  	 <img src="__IMGS__/556.jpg" class="fl" width="45" height="45" alt="">
		   	   	  	  <div class="chat-contaier fl">
		   	   	  	  	<div>大家好我是管理员
		   	   	  	  		此图经下载验证，举报属实，请会员自行删除处理。
		   	   	  	  	</div>
		   	   	  	  	 <div class="chat-time"><em>2015年11月25日 12:31:20</em></div>
		   	   	  	  </div>
		   	   	  	  <!-- 清除浮动 -->
		               <div class="clearfloat"></div>
		   	   	  </div>
					
					<div>
			   	   	  <div class="chat-foot-box">
			   	   	  	 <img src="__IMGS__/memberinfo.jpg" class="fl" width="45" height="45" alt="">
			   	   	  	     <textarea class="chat-contaier fl"></textarea>		 
			   	   	  	  <!-- 清除浮动 -->
			               <div class="clearfloat"></div>
			   	   	  </div>
			   	   	    <div class="chat-foot">
			   	   	  	     	<input id="adjunct" type="file"><label for="adjunct">附件上传</label>
			   	   	  	     	<a class="bo-cf fr" href="">提交</a>
			   	   	  	     </div>
					</div>
		   	   </div>
		   	</div>
		   	
		   	<!-- 广告部分 -->
				<div style="height:80px;"></div>
				<div class="footbanner"><img src="img/banner.jpg" alt=""></div>
		</div>
		 <!-- 清除浮动 -->
		<div class="clearfloat"></div>
	</div>
</div>

<include file="Public/footer" />
