<include file="Public/header" />
<include file="Public/nav" />
<div class="report-partic">
	<div class="wrap">
	 <div class="team-nav">
	 	<span>位置：</span>
	 	<span><a href="member-index.html">首页</a></span><em>></em>
	 	<span><a href="">图片申述</a></span>
	 </div>

	<div class="temp-b">
	 <p><span>标题：</span><input class="txt-bx" type="text"></p>
	 <p><span>编号：</span><input class="txt-bx" type="text"></p>
	 <p><span>上传图像等文件：</span><input type="file"></p>
	</div>

		 <div class="temp-reply"><span class="replycon fl">回复内容：</span>
		 	<div class="replymain fl">
		 		<div class="replycontainer">
		 		  我是内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
		 		</div>
				<a style="display:inline-block; margin-top:15px;" class="sumb-but" href="">确认提交</a>
		 	</div>
		 	<!-- 清浮动 -->
			<div class="clearfloat"></div>	
		 </div>
	</div>
</div>

<include file="Public/footer" />
