<include file="Public/header" />
	<div class="homepage-box" style="background: rgba(0, 0, 0, 0) url('__IMGS__/hongback.jpg') no-repeat scroll 0 0; background-size:100%;">
		<div class="wrap">
			<div class="h-membr-info"> 
				<div class="h-membr-pic fl">
					 <img src="__IMGS__/meihao.jpg" alt="">
				</div>
					<div class="h-membr-name fl">
						<h3>我是印刷人 <i class="c-ico-vip"></i></h3>
						<p>收入：1500</p>
						<p class="masi on3">等级：</p>
						<p class="mypraise">2310个赞</p>
					</div>

				<div class="zan fr">
					<p style="margin-top:50px;"><span class="zael" onclick="upamend()">更改封面照片</span></p> 
				</div>
					<!-- 清浮动 -->
				      <div class="clearfloat"></div>	
			</div>
		</div>
	</div>

<div class="h-seek-nav">
  <div class="wrap">
  	<div class="h-seek-head">
  		<a class="h-sekYear fl" href="">原创交易</a>
  		<a class="h-sekYear fr" href="">出售</a>
  	</div>

  	<div class="h-seek-column">
			<div class="h-seek-factor">
				<em class="fl">图片分类：</em>
				<ul>
					<li class="on"><a href="">电视背景墙</a><span>|</span></li>
					<li><a href="">玄关</a><span>|</span></li>
					<li><a href="">创意地板</a><span>|</span></li>
					<li><a href="">绘画</a><span>|</span></li>
					<li><a href="">风景</a><span>|</span></li>
					<li><a href="">其他</a></li>
				</ul>
			</div>
			<div class="h-seek-factor">
				<em class="fl">图片格式：</em>
				<ul>
					<li class="on"><a href="">JPGE</a><span>|</span></li>
					<li><a href="">PSD</a><span>|</span></li>
					<li><a href="">AI</a><span>|</span></li>
					<li><a href="">CDR</a><span>|</span></li>
					<li><a href="">EPS</a><span>|</span></li>
					<li><a href="">TIFF</a></li>
					<li><a href="">其他</a></li>
				</ul>
			</div>
			<div class="h-seek-fabel">
				<a class="mani on" href="">综合</a>
				<a class="mani" href="">价格</a>
				<a class="mani" href="">最新</a>
				<a class="mani" href="">下载</a>
				<div class="allzj fr">全部专辑(3305) <i class="c-ico-xia"></i>
				  	<div class="zj-hover">
						<div class="jt"></div>
						<div class="zj">
							<p><a href="">专辑名称一</a></p>
							<p><a href="">专辑名称一</a></p>
							<p><a href="">专辑名称一</a></p>
							<p><a href="">专辑名称一</a></p>
							<p><a href="">专辑名称一</a></p>
						</div>
					</div>
				</div>
				<!-- 清浮动 -->
				<div class="clearfloat"></div>	
			</div>
	</div>
  </div>
</div>

<!-- 瀑布流 -->
	<div class="h-water-box">
		<div class="wrap">
			<div id="main-content" class="water-main-box">
			  <div class="water-item opacity">
			  	<div class="it-snav">
			  		<a href=""><img src="__IMGS__/water.jpg" width="250" alt=""></a>
			  		<p class="ite-sc"><a class="collect" onclick="collect(this)"  href="javascript:">收藏</a><span>|</span><a href="">下载</a></p>
			    </div>
			  	<p><a href="">中国水墨画装饰画</a></p>
			  	<p>下载<i class="red">50</i>次 <em class="fr">售出于2015-12-31</em></p>
			  </div>

			  <div class="water-item opacity">
			  	<div class="it-snav">
			  		<a href=""><img src="__IMGS__/water1.jpg" width="250" alt=""></a>
			  		<p class="ite-sc"><a class="collect" onclick="collect(this)"  href="javascript:">收藏</a><span>|</span><a href="">下载</a></p>
			    </div>
			  	<p><a href="">中国水墨画装饰画</a></p>
			  	<p>下载<i class="red">50</i>次 <em class="fr">售出于2015-12-31</em></p>
			  </div>

			  <div class="water-item opacity">
			  	<div class="it-snav">
			  		<a href=""><img src="__IMGS__/water.jpg" width="250" alt=""></a>
			  		<p class="ite-sc"><a class="collect" onclick="collect(this)"  href="javascript:">收藏</a><span>|</span><a href="">下载</a></p>
			    </div>
			  	<p><a href="">中国水墨画装饰画</a></p>
			  	<p>下载<i class="red">50</i>次 <em class="fr">售出于2015-12-31</em></p>
			  </div>

			  <div class="water-item opacity">
			  	<div class="it-snav">
			  		<a href=""><img src="__IMGS__/water1.jpg" width="250" alt=""></a>
			  		<p class="ite-sc"><a class="collect" onclick="collect(this)"  href="javascript:">收藏</a><span>|</span><a href="">下载</a></p>
			    </div>
			  	<p><a href="">中国水墨画装饰画</a></p>
			  	<p>下载<i class="red">50</i>次 <em class="fr">售出于2015-12-31</em></p>
			  </div>

			  <div class="water-item opacity">
			  	<div class="it-snav">
			  		<a href=""><img src="__IMGS__/water.jpg" width="250" alt=""></a>
			  		<p class="ite-sc"><a class="collect" onclick="collect(this)"  href="javascript:">收藏</a><span>|</span><a href="">下载</a></p>
			    </div>
			  	<p><a href="">中国水墨画装饰画</a></p>
			  	<p>下载<i class="red">50</i>次 <em class="fr">售出于2015-12-31</em></p>
			  </div>

			  <div class="water-item opacity">
			  	<div class="it-snav">
			  		<a href=""><img src="__IMGS__/water1.jpg" width="250" alt=""></a>
			  		<p class="ite-sc"><a class="collect" onclick="collect(this)"  href="javascript:">收藏</a><span>|</span><a href="">下载</a></p>
			    </div>
			  	<p><a href="">中国水墨画装饰画</a></p>
			  	<p>下载<i class="red">50</i>次 <em class="fr">售出于2015-12-31</em></p>
			  </div>

			  <div class="water-item opacity">
			  	<div class="it-snav">
			  		<a href=""><img src="__IMGS__/water.jpg" width="250" alt=""></a>
			  		<p class="ite-sc"><a class="collect" onclick="collect(this)"  href="javascript:">收藏</a><span>|</span><a href="">下载</a></p>
			    </div>
			  	<p><a href="">中国水墨画装饰画</a></p>
			  	<p>下载<i class="red">50</i>次 <em class="fr">售出于2015-12-31</em></p>
			  </div>

			  <div class="water-item opacity">
			  	<div class="it-snav">
			  		<a href=""><img src="__IMGS__/water.jpg" width="250" alt=""></a>
			  		<p class="ite-sc"><a class="collect" onclick="collect(this)"  href="javascript:">收藏</a><span>|</span><a href="">下载</a></p>
			    </div>
			  	<p><a href="">中国水墨画装饰画</a></p>
			  	<p>下载<i class="red">50</i>次 <em class="fr">售出于2015-12-31</em></p>
			  </div>

			  <div class="water-item opacity">
			  	<div class="it-snav">
			  		<a href=""><img src="__IMGS__/water1.jpg" width="250" alt=""></a>
			  		<p class="ite-sc"><a class="collect" onclick="collect(this)"  href="javascript:">收藏</a><span>|</span><a href="">下载</a></p>
			    </div>
			  	<p><a href="">中国水墨画装饰画</a></p>
			  	<p>下载<i class="red">50</i>次 <em class="fr">售出于2015-12-31</em></p>
			  </div>

			  <div class="water-item opacity">
			  	<div class="it-snav">
			  		<a href=""><img src="__IMGS__/water.jpg" width="250" alt=""></a>
			  		<p class="ite-sc"><a class="collect" onclick="collect(this)"  href="javascript:">收藏</a><span>|</span><a href="">下载</a></p>
			    </div>
			  	<p><a href="">中国水墨画装饰画</a></p>
			  	<p>下载<i class="red">50</i>次 <em class="fr">售出于2015-12-31</em></p>
			  </div>
 
			</div>
			<!-- 翻页 -->
				<div class="pro_page">  
					<div><a class="num" href="">首页</a><span class="current">1</span><a class="num" href="">2</a><a class="num" href="">3</a><a class="num" href="">末页</a><a class="next" href="">下一页</a> 
					</div>		
				</div>
		</div>
	</div>
<script>
$(function(){  
   $('#main-content').masonry({
    itemSelector : '.water-item',
    isAnimated: false,
    gutterWidth:43
  });  
   var $container = $('#main-content');  
	$container.imagesLoaded( function(){  
	    $container.masonry({  
	        itemSelector : '.water-item'
	    });  
	});
});

</script>


<!-- 弹窗部分 -->
  <div class="modal-dialog-bg" style="display: none;"></div>

<!-- 弹窗 上传成功 -->
	<div class="modal-wrapper" style="display:none;">
		<div class="hint-box"> 
		  <h3>修改封面</h3>
		  <p class="hint-ts-styls"><i class="b-ico-succeed"></i>上传成功</p>	 
		  <p class="hint-ts-styls"><a class="hint-qd-btu" href="">确定</a></p>		  
		  <i class="b-ico-close"></i>
		</div>
	</div>


<!-- 弹窗 上传失败 -->
	<div class="modal-wrapper" style="display:none;">
		<div class="hint-box">
		  <h3>提示</h3>
		  <p class="hint-ts-styls"><i class="b-ico-error"></i>上传失败</p>	 
		  <p class="hint-ts-styls"><a class="hint-qd-btu" href="">确定</a></p>		  
		  <i class="b-ico-close"></i>
		</div>
	</div>

<!-- 弹窗 修改封面 -->
	<div class="modal-wrapper upamend" style="width:900px; display:none;">
		<div class="addition-box">
		  <h3>修改封面</h3>

		  <div class="addition-con" style="">
		  	<p class="fenms">上传封面</p>
		  	<label class="but"><input style="display:none" type="file">选择封面图片</label>
		  	<p style="padding:5px 0;">上传你喜欢的banner，宽度大于1180px，高度大于300px，小于5M。</p>
		  </div>
 
		  <i class="b-ico-close"></i>
		</div>
	</div>


<include file="Public/footer" />
