<include file="Public/header" />
<include file="Public/top" />
<include file="Public/menu" />


<div class="login-box">
	 <div class="login-main-box" style="padding:100px 0 100px 195px;margin-top: 95px;">
		 	<div class="logon-main" style="margin-left:240px;">
		 		 <div class="find-head"><h3>设置新密码</h3></div>
				 <input class="login-input logico-pw" type="password" placeholder="新密码">
				 <p style="font-size:10px; color:#9a9a9a; margin-top:8px;">必须是8~16位英文字母、数字组合，不可使用纯数字或纯字母</p>
				 <input class="login-input logico-pw" type="password" placeholder="确认新密码">
		 		 <a style="margin-top:40px;" class="orgion-b submitbtn" href="{:U('Log/success')}">确定修改</a>
		 	</div>

	 </div>
</div>


<include file="Public/footer" />