<include file="Public/header" />
<include file="Public/top" />
<include file="Public/menu" />

<div class="login-box">
	 <div class="login-main-box" style="padding:100px 0 100px 195px;margin-top: 95px;">
			<div class="email-dialog-box"><i class="b-ico-succeed"></i>邮件已发送到您的邮箱<em class="red">70000556@qq.com</em>。请按邮箱中的提示操作，完成密码修改。
				<a style="margin:100px 0 0 145px;" class="orgion-b submitbtn" href="{:U('Log/amend')}">立即查收邮件</a>
				<br>
				<br>
				<p>一直没有收到邮件？</p>
				<p>· 请先经查是否在垃圾邮件中。如果还未收到，请重新发送邮件</p>
				<p>· 还是收不到？请 <a class="orange" href="">联系客服</a></p>
			</div>
	 </div>
</div>

<include file="Public/footer" />