<include file="Public/header" />
<include file="Public/top" />
<include file="Public/menu" />

<div class="login-box">
	 <div class="login-main-box" style="padding:100px 0 100px 195px;margin-top: 95px;">
		 	<div class="logon-main" style="margin-left:240px;">
		 		 <div class="find-head"><h3>通过Email找回密码</h3></div>
				 <input style="margin:30px 0;" class="login-input logico-email" type="text" placeholder="Email(输入您绑定的邮箱)">
		 		 <a class="orgion-b submitbtn" href="{:U('Log/email_success')}">发送到邮箱</a>
		 	</div>

	 </div>
</div>

<include file="Public/footer" />