<include file="Public/header" />
<include file="Public/top" />
<include file="Public/menu" />

<div class="login-box">
	 <div class="login-main-box" style="padding:100px 0 100px 195px;margin-top: 95px;">
			<div class="email-dialog-box"><i class="b-ico-succeed"></i><span style="font-size:20px;">您的新登入密码重置成功！</span>
				<p style="font-size:15px; padding-left: 46px; color: #7d7d7d;">今后将使用新登入密码登入哇图网账户，请牢记。</p>
				<a style="margin:90px 0 0 145px;" class="orgion-b submitbtn" href="{:U('Public/login')}">重新登录</a>
			</div>
	 </div>
</div>

<include file="Public/footer" />