<include file="Public/header" />
<include file="Public/top" />
<include file="Public/menu" />


 <!-- 详情发布需求  -->
<div class="details-rele-box back2">
	<div class="details-fissue">
		<a href="">发布需求</a>
	</div>
</div>
<!-- 详情发布需求 end -->


<div class="uploading-ht-box">
	<div class="wrap">
	  	<div class="admin-nav">
	  		<div class="box-top-nav">位置：<a href="">首页</a><span> &gt; </span><a href="">发布需求</a><span> &gt; </span><a href="">画图</a> <a class="special fr" href="">任务管理</a></div>
	  	</div>
	</div>	

	<div class="admin-main-box">
		<div class="wrap">
			<div class="upload-ediet">
				<h3>求助类型：<label><input type="checkbox"><em>找图</em></label>
					<label><input type="checkbox"><em>找字体</em></label>
					<label><input type="checkbox"><em>画图</em></label>
					<label><input type="checkbox"><em>折扣下载</em></label>
					<label><input type="checkbox"><em>拍图</em></label>
				</h3>
				<div class="admin-list-con-detail">
				  <div class="no-original-box">			  
					 <div class="image-list">
						 <div class="preview-box fl">
						     <label class="image-list-y" for="image-view"><input id="image-view" type="file">
						     </label>
						       <p>仅支持JPG，PNG格式，最大不可以超过5M</p>
						 </div>
						 <!-- 清浮动 -->
							<div class="clearfloat"></div>	
					</div>
					<div class="detail-wrap"><span>图片标题：</span> <input class="ad-text" type="text" placeholder="用概括的语言描述你的图片"><em class="red"> *</em></div>

					<div class="detail-wrap"><span>悬赏金额：</span> <input class="ad-text ad-cost" type="text"> 哇图币(最低<em class="orange">1</em>哇图币，您当前可用余额为<em class="orange">520</em>哇图币)　<a href=""><img src="__IMG__/chong.png" alt=""></a> <em class="red"> *</em></div>

					<div class="detail-wrap"><span>截止时间：</span> 2015年 
						<select name="" id="">
							<option value="">1</option>
							<option value="">2</option>
							<option value="">3</option>
							<option value="">4</option>
							<option value="">5</option>
							<option value="">6</option>
							<option value="">7</option>
							<option value="">8</option>
							<option value="">9</option>
							<option value="">10</option>
							<option value="">11</option>
							<option value="">12</option>
						</select>月
						<select name="" id="">
							<option value="">1</option>
							<option value="">2</option>
							<option value="">3</option>
							<option value="">4</option>
							<option value="">5</option>
							<option value="">6</option>
							<option value="">6</option>
							<option value="">6</option>
							<option value="">6</option>
							<option value="">6</option>
							<option value="">6</option>
							<option value="">6</option>
							<option value="">6</option>
							<option value="">6</option>
							<option value="">6</option>
						</select>日
						<select name="" id="">
							<option value="">1</option>
							<option value="">1</option>
							<option value="">1</option>
							<option value="">1</option>
							<option value="">1</option>
							<option value="">1</option>
							<option value="">1</option>
							<option value="">1</option>
							<option value="">1</option>
							<option value="">1</option>
							<option value="">1</option>
							<option value="">1</option>
							<option value="">1</option>
						</select>时
						<em>（时间期限1-5天）</em>
				    </div>

				    <div class="detail-wrap"><span>相似度：</span> <label class="vel"><input name="size" type="radio">100% </label> <label class="vel"><input name="size" type="radio">95% </label></div>

				    <div class="detail-wrap"><span>图片格式：</span> <label class="vel"><input name="" type="radio">PSD </label> <label class="vel"><input name="" type="radio">AI </label> <label class="vel"><input name="" type="radio">CDR </label> <label class="vel"><input name="" type="radio">JPG </label> 其他 <input class="ad-text ad-cost" type="text" placeholder="可不填写"></div>

				    <div class="detail-wrap">
						<span>印刷尺寸：</span>
						<input class="ad-text ad-cost" type="text" placeholder="长(cm)"> * <input class="ad-text ad-cost" type="text" placeholder="宽(cm)">
			 		</div>

			 		<div class="detail-wrap">
						<span>作品编号：</span><em>20151002355263</em>
			 		</div>

			 		<div class="detail-wrap">
						<span>作品描述：</span>
						<textarea placeholder="你可以描述输入您的的其他详细需求:"></textarea>
			 		</div>

			 		<div class="detail-wrap">
						<span> </span>
					    <input type="checkbox" checked="checked">已查看并同意规定条款《原创非商业授权作品规定》
						
						<label class="zhukou" style="margin-left:150px;"><input style="display:none" type="file"> </label>
						<!-- <p class="uppro" style="width:875px; text-align:right;"><em><i class="c-ico-sigh"></i>文件大于30M</em></p> -->
						<p class="uppro" style="width:875px; text-align:right;"><em>附件: <i>1561234531.rar</i><a class="up-del" href=""></a></em></p>
					</div>
				

					<div class="detail-wrap">
						<span> </span>
				 		<a class="orgion-b submitbtn inline-b" href="javascript:" onclick="seekhelp()">确认发布</a>
					</div>

	 			  </div>
				</div>
			</div>
		</div>
	</div>
</div>

 <!-- 注意   发布流程 -->
<div class="publishess">
	<div class="wrap">
	  <p><b>发布流程</b><span class="pub1">01 发布作品</span><span class="pub2">02 获得竞价</span><span class="pub3">03 竞拍完成</span><span class="pub4">04 转为出售</span></p>
	  <p><b>发布流程</b><span class="pub5">01 参与竞拍</span><span class="pub4">02 支付竞款</span><span class="pub2">03 竞拍成功</span><span class="pub6">03 下载原图</span></p>
	</div>
</div>


<!--foot nav  end-->
<!-- 弹窗部分 -->
<div class="modal-dialog-bg" style="display: none;"></div>
 
<!-- 支付完成 -->
	<div class="modal-wrapper" style="display:none;">
		<div class="hint-box"> 
		  <p class="hint-ts-styls"><i class="b-ico-succeed"></i>支付已完成，任务成功发布</p>	 
		  <p class="hint-ts-styls"><a class="hint-qd-btu" href="">确定</a></p>		  
		  <i  class="b-ico-close"></i>
		</div>
	</div>

<!-- 支付失败失败 -->
	<div class="modal-wrapper" style="display:none;">
		<div class="hint-box"> 
		  <p class="hint-ts-styls"><i class="b-ico-error"></i>支付未完成，任务发布失败</p>	 
		  <p class="hint-ts-styls"><a class="hint-qd-btu" href="">确定</a></p>		  
		  <i  class="b-ico-close"></i>
		</div>
	</div> 

<!-- 支付确认 -->
<div class="modal-wrapper seekhelp" style="display: none;">
		<div class="hint-box"> 
		  <p>账户余额: <em class="orange">520.00</em> 哇图币 此次发布任务将由哇图网为您<b>托管<em class="red">5</em>哇图币哇图币。</b></p>
		  <p><b>请输入支付密码：</b><input type="password"> <a class="blue" href=""> 忘记密码？</a> </p>
		  <p><label><input type="checkbox" checked="checked"> 同意</label><a class="blue" href="">哇图网交易说明</a></p>
		  <p><a id="affirm" class="but-shan" href="javascript:">立刻支付</a></p>
		  <p class="font12"><i class="c-ico-tanh"></i>为保证任务效率哇图网将代管赏金至任务结束，赏金默认由发布者打赏。</p>
		  <i class="b-ico-close"></i>
		</div>
</div>



</body>

<script>
    $(function(){
    	// 图片上传js
 		 $('#image-view').change(function(){
         	 var $file=this.files[0];
         	 var osrc=URL.createObjectURL($file);
         	 var $pic=$(this).parent();
         	 if($file.size/1024>5120)
             {
                alert("图片最大不可以超过5M!");
                return 0;
             }
             $pic.css({'background-image':'url('+osrc+')'}); //修改预览背景图片
             if($(this).parent().children('em').size()<1)  //判断em元素
             {
                $pic.append('<em>修改预览图</em>');
        	 }
         });

		// 图片上传js
    	$('.result-box').on('change','.image-but',function(){
    		 var dom=$(this).parents('li').clone();  //复制li标签内容
    		 var $file=this.files[0]; //获取当前file对像
    		 var $pic=$(this).parent(); 
    		 var osrc=URL.createObjectURL($file);

    		 if($file.size/1024>5120)
             {
                alert("图片最大不可以超过5M!");
                return 0;
             }

             var n=$(this).parents('ul').children('li').size();//上传效果图的个数
             var i=$(this).parent().children('em').size()
             switch(n)
				{
				case 1: // 上传1张      
				    $pic.css({'background-image':'url('+osrc+')'}); 
				    if(i<1)  //判断em元素
		             { $pic.append('<em>修改效果图</em>'); }
            	        dom.appendTo('.result-box ul');
				    break;
				case 2: // 上传2张
				    $pic.css({'background-image':'url('+osrc+')'});
				    if(i<1)  //判断em元素
		             { $pic.append('<em>修改效果图</em>'); }
				    break;
				default:
				}
    	});

   });
</script>


<include file="Public/footer" />