 <!-- 详情发布需求  -->
<div class="details-rele-box back2">
	<div class="details-fissue">
		<a href="">发布需求</a>
	</div>
</div>
<!-- 详情发布需求 end -->
<div class="admin-nav">
	<div class="wrap">
		<div class="admin-nav-s">
			<span class="fl w-logos"><img src="__IMG__/logs.png" width="150" height="40" alt=""></span>
			<ul>
				<li><a href="{:U('Index/index')}">首页</a></li>
				<li><a href="{:U('Personal/index')}">个人主页</a></li>
				<li><a href="">任务管理<i class="c-ico-even"></i></a>
					<p class="hover-bx">
						<a href="{:U('User/help')}">我的求助</a>
						<a href="{:U('User/assist')}">我的帮助</a>
					</p>
				</li>
				<li><a href="{:U('User/personal')}">个人管理<i class="c-ico-even"></i></a>
					<p class="hover-bx hover-zl">
						<a href="{:U('User/personal')}">个人资料</a>
						<a href="{:U('User/certified')}">身份认证</a>
						<a href="{:U('User/changed')}">密码修改</a>
						<a href="{:U('User/binding')}">账户绑定管理</a>
					</p>
				</li>
			</ul>
		</div>
	</div>	
</div>
