<include file="Public/header" />
<include file="Public/nav" />


<div class="admin-main-box">
	<div class="wrap overhide mrg-bot">
		<include file="Public/menu" />

		<div class="manage-list-con fl">
		   <h3 class="common-title">账号余额</h3>
		   <div class="account-box">
		   	  <p>您当前的账户余额：<em class="red">￥{$user['predeposit']}</em></p>
		   	  <p><a class="spec-but"  href="czjl.html">充值</a>&nbsp;&nbsp;&nbsp;<a class="spec-but bhqb" href="javascript:">提现</a></p>
		   </div>
		   
		  <!-- 广告部分 -->
				<div style="height:80px;"></div>
				<div class="footbanner"><img src="__IMG__/banner.jpg" alt=""></div>
		</div>
		 <!-- 清除浮动 -->
		<div class="clearfloat"></div>
	</div>
</div>
<include file="Public/footer" />
