<include file="Public/header" />
<include file="Public/nav" />
<div class="admin-main-box">
	<div class="wrap overhide mrg-bot">
		<include file="Public/menu" />

		<div class="manage-list-con fl">
		   <h3 class="common-title">金币记录</h3>
		   	<div class="money-record">
		   	  <div class="admin-man-top-nav"><a href="jbjl-sr.html">收入</a></div>
		   	  <div class="admin-man-top-nav"><a href="jbjl-zc.html">支出</a></div>
		   	  <div class="admin-man-top-nav"><a href="jbjl-gj.html">改价</a></div>
		   	  <div class="admin-man-top-nav fr"><a href="jbjl.html">全部</a></div>
		   	  <!-- 清除浮动 -->
		         <div class="clearfloat"></div>
		   	</div>

		   	<div class="money-record-main">
		   		<div class="manage-head">
    				<span class="man-w1">时间</span><span class="man-w2">收入/支出</span><span class="man-w3">账户余额</span><span class="man-w4">交易状态</span>
    			</div>
    			<div class="manage-item">
    				<div class="man-w1 mana-e fl"><em>2015-10-12  9:25:25</em></div>
    				<div class="man-w2 mana-b fl">
    					<p>图片<em class="blues">《好好学习》</em>被下载</p>
    					<p>编号：2015111521345</p>
    				</div>
    				<div class="man-w3 fl">
    				<p><i class="b-ico-income"></i>收入<em class="red">+10</em></p>
    				<p>100.00</p>
    				</div>
    				<div class="man-w4 fl">
    				  <p class="orange">交易进行中...</p>
    				  <p>下载者:灰机来了</p>
    				</div>
    				<!-- 清除浮动 -->
				      <div class="clearfloat"></div>
    			</div>

    			<div class="manage-item">
    				<div class="man-w1 mana-e fl"><em>2015-10-12  9:25:25</em></div>
    				<div class="man-w2 mana-b fl">
    					<p>图片<em class="blues">《好好学习》</em>被下载</p>
    					<p>编号：2015111521345</p>
    				</div>
    				<div class="man-w3 fl">
    				<p><i class="b-ico-income"></i>收入<em class="red">+10</em></p>
    				<p>100.00</p>
    				</div>
    				<div class="man-w4 fl">
    				  <p class="green">交易完成</p>
    				  <p>下载者:灰机来了</p>
    				</div>
    				<!-- 清除浮动 -->
				      <div class="clearfloat"></div>
    			</div>

    			<div class="manage-item">
    				<div class="man-w1 mana-e fl"><em>2015-10-12  9:25:25</em></div>
    				<div class="man-w2 mana-b fl">
    					<p>图片<em class="blues">《好好学习》</em>被下载</p>
    					<p>编号：2015111521345</p>
    				</div>
    				<div class="man-w3 fl">
    				<p><i class="b-ico-expend"></i>支出<em class="green">-10</em></p>
    				<p>100.00</p>
    				</div>
    				<div class="man-w4 fl">
    				  <p class="orange">交易进行中...</p>
    				  <p>下载者:灰机来了</p>
    				</div>
    				<!-- 清除浮动 -->
				      <div class="clearfloat"></div>
    			</div>

    			<div class="manage-item">
    				<div class="man-w1 mana-e fl"><em>2015-10-12  9:25:25</em></div>
    				<div class="man-w2 mana-b fl">
    					<p>图片<em class="blues">《好好学习》</em>被下载</p>
    					<p>编号：2015111521345</p>
    				</div>
    				<div class="man-w3 fl">
    				<p><i class="b-ico-expend"></i>支出<em class="green">-10</em></p>
    				<p>100.00</p>
    				</div>
    				<div class="man-w4 fl">
    				  <p class="green">交易完成</p>
    				  <p>下载者:灰机来了</p>
    				</div>
    				<!-- 清除浮动 -->
				      <div class="clearfloat"></div>
    			</div>
		   	</div>
		   	<!-- 翻页 -->
		    <div class="pro_page">  
					<div><a class="num" href="">首页</a><span class="current">1</span><a class="num" href="">2</a><a class="num" href="">3</a><a class="num" href="">末页</a><a class="next" href="">下一页</a> 
					</div>		
				</div>
				
				<!-- 广告部分 -->
				<div style="height:80px;"></div>
				<div class="footbanner"><img src="img/banner.jpg" alt=""></div>
		</div>
		 <!-- 清除浮动 -->
		<div class="clearfloat"></div>
	</div>
</div>

<include file="Public/footer" />
