<include file="Public/header" />
<include file="Public/nav" />
<div class="admin-main-box">
	<div class="wrap overhide mrg-bot">
		<include file="Public/menu" />

		<div class="manage-list-con fl">
	       <div class="award-box">
	       	 <div class="award-nav">
	       	 	<ul>
	       	 		<li class="on"><a href="javascript:"><i class="b-ico-recharge"></i>哇图币充值</a></li>
	       	 		<li><a href="javascript:"><i class="b-ico-VIP"></i>开通VIP</a></li>
	       	 		<li><a href="javascript:"><i class="b-ico-tx"></i>提现</a></li>
	       	 	</ul>
	       	 	<!-- 清除浮动 -->
	       	 	<div class="clearfloat"></div>
	       	 </div>

	       	 <!-- 哇图币充值 -->
	       	 <div class="privilege-main" style="display:block">
	       	 	<p class="pri"><i class="b-ico-hon"></i>优惠多多，送完即止</p>
	       	 	<div class="fl privilege-main-left">
	       	 		<ul id="select-fs">
	       	 			<li class="selec"><a href="javascript:">购买50哇图币=50元       赠送5哇图币</a><i class="b-ico-sel"></i></li>
	       	 			<li><a href="javascript:">购买100哇图币=50元       赠送5哇图币</a><i class="b-ico-sel"></i></li>
	       	 			<li><a href="javascript:">购买150哇图币=50元       赠送5哇图币</a><i class="b-ico-sel"></i></li>
	       	 			<li><a href="javascript:">购买250哇图币=50元       赠送5哇图币</a><i class="b-ico-sel"></i></li>
	       	 		</ul>
	       	 		<p class="selse">其他  &nbsp;<input type="text" placeholder="请输入充值金额"></p>
	       	 	</div>
	       	 	<div class="fl privilege-main-right">
	       	 		<p class="czfs"><span><i class="b-ico-zfb"></i>充值方式:</span></p>
	       	 		<p class="select-zfs">选择支付方式：<input id="fs1" checked="" type="radio"> <label for="fs1"><img src="img/szhifubao.png" alt=""></label></p>
	       	 		<span style="color:#989898">温馨提示：充值无使用时间限制，用完为止。</span> 
	       	 		<p style="margin-top:65px;"><a style="display:inline-block" class="sumb-but" href="">立刻支付</a></p>
	       	 	</div>
	       	 	<!-- 清除浮动 -->
	       	 	<div class="clearfloat"></div>
	       	 </div>


		<!-- 开通vip -->
	       	 <div class="privilege-main" style="display:none">
	       	 	<p class="pri"><i class="b-ico-hon"></i>开通VIP，优惠多多</p>
	       	 	<div class="fl privilege-main-left">
	       	 		<div class="privilege-vip-box">
	       	 		  <p class="s"><b class="red">VIP</b> (全站素材8.8折下载特权）</p>
					    <span class="selec"><a href="javascript:">19元/半年</a><i class="b-ico-redsel"></i></span>
					    <span><a href="javascript:">39元/全年</a><i class="b-ico-redsel"></i></span>
					  <p class="df"><b class="red">SVIP</b> (全站素材6.8折超低折扣下载特权）</p>
					    <span><a href="javascript:">19元/半年</a><i class="b-ico-redsel"></i></span>
					    <span><a href="javascript:">39元/全年</a><i class="b-ico-redsel"></i></span>
					</div>
	       	 	</div>
	       	 	<div class="fl privilege-main-right">
	       	 		<p class="czfs"><span><i class="b-ico-zfb"></i>充值方式:</span></p>
	       	 		<p class="select-zfs">选择支付方式：<input id="fs2" checked="" type="radio"> <label for="fs2"><img src="img/szhifubao.png" alt=""></label></p>
	       	 		<p style="margin-top:65px;"><a style="display:inline-block; background:red;" class="sumb-but" href="">立刻支付</a></p>
	       	 	</div>
	       	 	<!-- 清除浮动 -->
	       	 	<div class="clearfloat"></div>
	       	 </div>

		<!-- 提现 -->
	       	 <div class="privilege-main" style="display:none">
	       	 	<p class="pri" style="font-size:14px;">账户可提现余额：<em class="red">200.00</em>（充值部分的余额不能用于提现）<a class="withdraw-but" href="czjl-tx.html">申请提现</a></p>
	       	 	<div class="deposit-details">
	       	 		<div class="manage-head">
    					<span class="man-w6">提取时间</span><span class="man-w6">提取金额</span><span class="man-w7">提收款账户</span><span class="man-w6">提取状态</span>
    				</div>
    				<div class="manage-item">
	    				<div class="man-w6 mana-b fl">2015-10-28 11:56:23</div>
	    				<div class="man-w6 mana-b fl">提取金额：<em class="red">500.00</em></div>
	    				<div class="man-w7 fl">
	    					<p>账号类型：支付宝</p>
							<p>收款账号：da*****fds@163.com</p>
							<p>收款人：**</p>
	    				</div>
	    				<div class="man-w6 mana-b fl">
	    					<em class="red">正在进行中...</em>
	    				</div>
	    				<!-- 清除浮动 -->
					      <div class="clearfloat"></div>
    			    </div>

    			    <div class="manage-item">
	    				<div class="man-w6 mana-b fl">2015-10-28 11:56:23</div>
	    				<div class="man-w6 mana-b fl">提取金额：<em class="red">500.00</em></div>
	    				<div class="man-w7 fl">
	    					<p>账号类型：支付宝</p>
							<p>收款账号：da*****fds@163.com</p>
							<p>收款人：**</p>
	    				</div>
	    				<div class="man-w6 mana-b fl">
	    					<em class="red">正在进行中...</em>
	    				</div>
	    				<!-- 清除浮动 -->
					      <div class="clearfloat"></div>
    			    </div>

    			    <div class="manage-item">
	    				<div class="man-w6 mana-b fl">2015-10-28 11:56:23</div>
	    				<div class="man-w6 mana-b fl">提取金额：<em class="red">500.00</em></div>
	    				<div class="man-w7 fl">
	    					<p>账号类型：支付宝</p>
							<p>收款账号：da*****fds@163.com</p>
							<p>收款人：**</p>
	    				</div>
	    				<div class="man-w6 mana-b fl">
	    					已提现成功
	    				</div>
	    				<!-- 清除浮动 -->
					      <div class="clearfloat"></div>
    			    </div>

    			    <div class="manage-item">
	    				<div class="man-w6 mana-b fl">2015-10-28 11:56:23</div>
	    				<div class="man-w6 mana-b fl">提取金额：<em class="red">500.00</em></div>
	    				<div class="man-w7 fl">
	    					<p>账号类型：支付宝</p>
							<p>收款账号：da*****fds@163.com</p>
							<p>收款人：**</p>
	    				</div>
	    				<div class="man-w6 mana-b fl">
	    					已提现成功
	    				</div>
	    				<!-- 清除浮动 -->
					      <div class="clearfloat"></div>
    			    </div>

    			    <div class="manage-item">
	    				<div class="man-w6 mana-b fl">2015-10-28 11:56:23</div>
	    				<div class="man-w6 mana-b fl">提取金额：<em class="red">500.00</em></div>
	    				<div class="man-w7 fl">
	    					<p>账号类型：支付宝</p>
							<p>收款账号：da*****fds@163.com</p>
							<p>收款人：**</p>
	    				</div>
	    				<div class="man-w6 mana-b fl">
	    					已提现成功
	    				</div>
	    				<!-- 清除浮动 -->
					      <div class="clearfloat"></div>
    			    </div>

    			    <div class="manage-item">
	    				<div class="man-w6 mana-b fl">2015-10-28 11:56:23</div>
	    				<div class="man-w6 mana-b fl">提取金额：<em class="red">500.00</em></div>
	    				<div class="man-w7 fl">
	    					<p>账号类型：支付宝</p>
							<p>收款账号：da*****fds@163.com</p>
							<p>收款人：**</p>
	    				</div>
	    				<div class="man-w6 mana-b fl">
	    					已提现成功
	    				</div>
	    				<!-- 清除浮动 -->
					      <div class="clearfloat"></div>
    			    </div>
    			      <!-- 分页 -->
	    			    <div class="pro_page">  
							<div><a class="num" href="">首页</a><span class="current">1</span><a class="num" href="">2</a><a class="num" href="">3</a><a class="num" href="">末页</a><a class="next" href="">下一页</a> 
							</div>		
						</div>
	       	 	</div>
	       	 </div>
	       </div>

				<!-- 广告部分 -->
				<div style="height:80px;"></div>
				<div class="footbanner"><img src="img/banner.jpg" alt=""></div>
		</div>
		 <!-- 清除浮动 -->
		<div class="clearfloat"></div>
	</div>
</div>
<!--foot nav  end-->
<!-- 弹窗部分 -->
<div class="modal-dialog-bg" style="display: none;"></div>

<!-- 充值 弹窗-->
<div class="modal-wrapper modal-wrapper-big rechargeplay" style="display:none;">
		<div class="recharge-paly"> 
	  	  <div class="recharge-select">
	  	  	<span>充值：</span>
	  	  	<input id="c1" name="rech" type="radio"><label for="c1">50</label>
	  	  	<input id="c2" name="rech" type="radio"><label for="c2">100</label>
	  	  	<input id="c3" name="rech" type="radio"><label for="c3">150</label>
	  	  	<input id="c4" name="rech" type="radio"><label for="c4">200</label>
	  	  	<span>其他</span>&nbsp;&nbsp;
	  	  	 <input class="rech-text" type="text" placeholder="(请输入充值金额)">
	  	  </div>
	  	  <div class="zhifu-select">
	  	  	<span>支付方式：</span>
	  	  	<input id="zf1" name="zhifu" checked type="radio"><label for="zf1"><img src="img/zhifubao.png" alt=""></label>
	  	  </div>
	  	   <p style="text-align:center;"><a href="" class="sumb-but">立刻充值</a></p>
	  	   <p style="margin-top:50px; font-size:12px; color:#9a9a9a;">温馨提示：充值无使用时间限制，用完为止。</p>
		  <i class="b-ico-close"></i>
		</div>
</div>

</body>
<!-- tab 切换 -->
<script>
	$(function(){
		$('.award-nav ul li').click(function(){
			var i=$(this).index();
			$('.award-nav ul li').each(function(){
				$(this).removeClass('on');
			});
			$(this).addClass('on');
			$('.privilege-main').each(function(){
				$(this).hide();
			});
			$('.privilege-main').eq(i).fadeIn();
		});
	});
</script>
<include file="Public/footer" />
