<include file="Public/header" />
<include file="Public/top" />
<include file="Public/menu" />
<!-- banner -->
	<div class="banner-box">
		<div class="banner">
			<div class="bd">
				<ul>
					 <li><img src="__IMGS__/banner1.jpg" width="100%" alt=""></li>
					 <li><img src="__IMGS__/banner2.jpg" width="100%" alt=""></li>
					 <li><img src="__IMGS__/banner1.jpg" width="100%" alt=""></li>
					 <li><img src="__IMGS__/banner2.jpg" width="100%" alt=""></li>
					 <li><img src="__IMGS__/banner1.jpg" width="100%" alt=""></li>
				</ul>
				<ol>
					<li></li>
				</ol>
				<div class="prev ban-p"><i class="b-ico-prev"></i></div>
				<div class="next ban-n"><i class="b-ico-next"></i></div>
			</div>
			<div class="fissue">
				<a href="ht-fbxq.html">发布需求</a>
			</div>
		</div>
	</div>
<script>
	jQuery(".banner").slide({mainCell:".bd ul",autoPlay:true,autoPage:true,titCell:".bd ol",delayTime:1000,interTime:4000});
</script>
<!-- banner end-->

	<!-- 导航 -->
	<div class="nav-box">
		<div class="wrap">
		    <div class="nav-ks">
				<div class="nav-item fl">
					<a href="{:U('Goods/images')}"><img src="__IMG__/ic1.png" alt=""></a>
					<h2><a href="{:U('Goods/images')}">找图</a></h2>
					<p>让互联网成为你的图库，快捷高效的找图方式</p>
				</div>
				<div class="nav-item fl">
					<a href="{:U('Goods/font')}"><img src="__IMG__/ic2.png" alt=""></a>
					<h2><a href="{:U('Goods/font')}">找字体</a></h2>
					<p>找字体这种小事交给我们来就好了</p>
				</div>
				<div class="nav-item fl">
					<a href="{:U('Goods/drawing')}"><img src="__IMG__/ic3.png" alt=""></a>
					<h2><a href="{:U('Goods/drawing')}">画图</a></h2>
					<p>专业的设计师，合适的图，找不到的图片这有</p>
				</div>
				<div class="nav-item fl">
					<a href="{:U('Goods/rebate')}"><img src="__IMG__/ic4.png" alt=""></a>
					<h2><a href="{:U('Goods/rebate')}">折扣下载</a></h2>
					<p>每个用户都是您的下载链接，请放心使用他们</p>
				</div>
				<div class="nav-item fl">
					<a href="{:U('Goods/concept')}"><img src="__IMG__/ic5.png" alt=""></a>
					<h2><a href="{:U('Goods/concept')}">购图</a></h2>
					<p>我们专注家装素材图片的收集和出售</p>
				</div>
				<!-- 清除浮动 -->
				<div class="clearfloat"></div>
		    </div>
		     
		</div>
	</div>
	<!-- 导航 end-->
<div class="place-s"><div class="wrap"><img src="__IMGS__/ban.jpg" width="100%" height="70px" alt=""></div></div>

<!-- 主题内容 -->
<div class="container-box">
	<div class="wrap">
		<div class="con-l fl">
			<div class="title-box"><img src="__IMG__/rmtp.png" alt=""><a class="fr" href="">更多<i class="b-ico-more"></i></a></div>
			<div class="main-con">
				<ul>
					<li>
						<a href="cstxq.html"><img src="__IMGS__/pic.jpg" alt=""></a>
						<p class="ite-sc">
							<i class="b-ico-face"></i>
							<a class="collect" onclick="collects(this)" href="javascript:">收藏</a><span>|</span><a href="cstxq.html">下载</a>
						</p>
						<p><a href="cstxq.html">中国水墨画饰品</a></p>
						<p>下载<i class="red">50</i>次 <em>售出于2015-12-31</em></p>
					</li>
					<li>
						<a href="cstxq.html"><img src="__IMGS__/pic.jpg" alt=""></a>
						<p class="ite-sc">
							<i class="b-ico-face"></i>
							<a class="collect" onclick="collects(this)" href="javascript:">收藏</a><span>|</span><a href="cstxq.html">下载</a></p>
						<p><a href="cstxq.html">中国水墨画饰品</a>
						</p>
						<p>下载<i class="red">50</i>次 <em>售出于2015-12-31</em></p>
					</li>
					<li>
						<a href="cstxq.html"><img src="__IMGS__/pic.jpg" alt=""></a>
						<p class="ite-sc">
							<i class="b-ico-face"></i>
							<a class="collect" onclick="collects(this)" href="javascript:">收藏</a><span>|</span><a href="cstxq.html">下载</a>
						</p>
						<p><a href="cstxq.html">中国水墨画饰品</a></p>
						<p>下载<i class="red">50</i>次 <em>售出于2015-12-31</em></p>
					</li>
					<li>
						<a href="cstxq.html"><img src="__IMGS__/pic.jpg" alt=""></a>
						<p class="ite-sc">
							<i class="b-ico-face"></i>
							<a class="collect" onclick="collects(this)" href="javascript:">收藏</a><span>|</span><a href="cstxq.html">下载</a>
						</p>
						<p><a href="cstxq.html">中国水墨画饰品</a></p>
						<p>下载<i class="red">50</i>次 <em>售出于2015-12-31</em></p>
					</li>
					<li>
						<a href="cstxq.html"><img src="__IMGS__/pic.jpg" alt=""></a>
						<p class="ite-sc">
							<i class="b-ico-face"></i>
							<a class="collect" onclick="collects(this)" href="javascript:">收藏</a><span>|</span><a href="cstxq.html">下载</a>
						</p>
						<p><a href="cstxq.html">中国水墨画饰品</a></p>
						<p>下载<i class="red">50</i>次 <em>售出于2015-12-31</em></p>
					</li>
					<li>
						<a href="cstxq.html"><img src="__IMGS__/pic.jpg" alt=""></a>
						<p class="ite-sc">
							<i class="b-ico-face"></i>
							<a class="collect" onclick="collects(this)" href="javascript:">收藏</a><span>|</span><a href="cstxq.html">下载</a>
						</p>
						<p><a href="cstxq.html">中国水墨画饰品</a></p>
						<p>下载<i class="red">50</i>次 <em>售出于2015-12-31</em></p>
					</li>
				</ul>
			 <!-- 清除浮动 -->
				<div class="clearfloat"></div>
			</div>
		</div>
		<!-- 右边排行榜 -->
		<div class="con-r fr">
			<div class="title-box"><img src="__IMG__/phb.png" alt=""><span class="fr" style="padding-right: 37px;">财富值</span></div>
			<div class="ph-box">
				 <ul>
				 	<li><i class="mac">1</i><em><img src="__IMGS__/memberinfo.jpg" alt=""></em><!-- on是皇冠的样式  -->
				 		<span>灰机类了</span><i class="s">10.000</i>
 
				 	</li>
				 	<li class="on2"><i class="mac">2</i><em><img src="__IMGS__/memberinfo.jpg" alt=""></em>
				 		<span>灰机类了</span><i class="s">10.000</i>
				 		
				 	</li>
				 	<li class="on3"><i class="mac">3</i><em><img src="__IMGS__/memberinfo.jpg" alt=""></em>
				 		<span>灰机类了</span><i class="s">10.000</i>
				 	</li>
				 	<li class="on4"><i class="mac">4</i><em><img src="__IMGS__/memberinfo.jpg" alt=""></em>
				 		<span>灰机类了</span><i class="s">10.000</i>
				 		
				 	</li>
				 	<li class="on4"><i class="mac">5</i><em><img src="__IMGS__/memberinfo.jpg" alt=""></em>
				 		<span>灰机类了</span><i class="s">10.000</i>
				 		
				 	</li>
				 	<li class="on4"><i class="mac">6</i><em><img src="__IMGS__/memberinfo.jpg" alt=""></em>
				 		<span>灰机类了</span><i class="s">10.000</i>
				 		
				 	</li>
				 	<li class="on4"><i class="mac">7</i><em><img src="__IMGS__/memberinfo.jpg" alt=""></em>
				 		<span>灰机类了</span><i class="s">10.000</i>
				 		
				 	</li>
				 	<li class="on4"><i class="mac">8</i><em><img src="__IMGS__/memberinfo.jpg" alt=""></em>
				 		<span>灰机类了</span><i class="s">10.000</i>
				 		
				 	</li>
				 </ul>
			 </div>
		</div>
		<!-- 右边 end-->
		<!-- 清除浮动 -->
				<div class="clearfloat"></div>
	</div>
</div>
<!-- 主题内容 end-->
<div class="place-s" style="margin-bottom:10px;"><div class="wrap"><img src="__IMGS__/ban.jpg" width="100%" height="70px" alt=""></div></div>

 
<!-- 会员推荐 -->
<div class="member-box">
	<div class="wrap">
		<div class="title-box"><img src="__IMG__/hytj.png" alt=""></div>
		<div class="member-list">
			<div class="l-item">
				<div class="m-pic-b">
					<a href="member.html">
					<img src="__IMGS__/memberinfo.jpg" width="100" height="100" alt=""> <i class="ho"><img src="__IMG__/homg.png" alt=""></i></a>
				</div>
				<b class="m-name"><a href="member.html">灰机来了</a></b>
				<p class="grade no1">等级：</p>   <!-- no1 为1级 no2为2级  no3 ....... -->
				<p class="sr">收入：1000哇图币</p>
			</div>

			<div class="l-item">
				<div class="m-pic-b">
					<a href="member.html">
					<img src="__IMGS__/memberinfo.jpg" width="100" height="100" alt=""> <i class="ho"><img src="__IMG__/homg.png" alt=""></i></a>
				</div>
				<b class="m-name"><a href="member.html">灰机来了</a></b>
				<p class="grade no2">等级：</p>
				<p class="sr">收入：1000哇图币</p>
			</div>

			<div class="l-item">
				<div class="m-pic-b">
					<a href="member.html">
					<img src="__IMGS__/memberinfo.jpg" width="100" height="100" alt=""> <i class="ho"><img src="__IMG__/homg.png" alt=""></i></a>
				</div>
				<b class="m-name"><a href="member.html">灰机来了</a></b>
				<p class="grade no3">等级：</p>
				<p class="sr">收入：1000哇图币</p>
			</div>

			<div class="l-item">
				<div class="m-pic-b">
					<a href="member.html">
					<img src="__IMGS__/memberinfo.jpg" width="100" height="100" alt=""> <i class="ho"><img src="__IMG__/homg.png" alt=""></i></a>
				</div>
				<b class="m-name"><a href="member.html">灰机来了</a></b>
				<p class="grade no4">等级：</p>
				<p class="sr">收入：1000哇图币</p>
			</div>

			<div class="l-item">
				<div class="m-pic-b">
					<a href="member.html">
					<img src="__IMGS__/memberinfo.jpg" width="100" height="100" alt=""> <i class="ho"><img src="__IMG__/homg.png" alt=""></i></a>
				</div>
				<b class="m-name"><a href="member.html">灰机来了</a></b>
				<p class="grade no5">等级：</p>
				<p class="sr">收入：1000哇图币</p>
			</div>

			<div class="l-item">
				<div class="m-pic-b">
					<a href="member.html">
					<img src="__IMGS__/memberinfo.jpg" width="100" height="100" alt=""> <i class="ho"><img src="__IMG__/homg.png" alt=""></i></a>
				</div>
				<b class="m-name"><a href="member.html">灰机来了</a></b>
				<p class="grade no5">等级：</p>
				<p class="sr">收入：1000哇图币</p>
			</div>

			<div class="l-item">
				<div class="m-pic-b">
					<a href="member.html">
					<img src="__IMGS__/memberinfo.jpg" width="100" height="100" alt=""> <i class="ho"><img src="__IMG__/homg.png" alt=""></i></a>
				</div>
				<b class="m-name"><a href="member.html">灰机来了</a></b>
				<p class="grade no5">等级：</p>
				<p class="sr">收入：1000哇图币</p>
			</div>

			<div class="l-item">
				<div class="m-pic-b">
					<a href="member.html">
					<img src="__IMGS__/memberinfo.jpg" width="100" height="100" alt=""> <i class="ho"><img src="__IMG__/homg.png" alt=""></i></a>
				</div>
				<b class="m-name"><a href="member.html">灰机来了</a></b>
				<p class="grade no5">等级：</p>
				<p class="sr">收入：1000哇图币</p>
			</div>

			<div class="l-item">
				<div class="m-pic-b">
					<a href="member.html">
					<img src="__IMGS__/memberinfo.jpg" width="100" height="100" alt=""> <i class="ho"><img src="__IMG__/homg.png" alt=""></i></a>
				</div>
				<b class="m-name"><a href="member.html">灰机来了</a></b>
				<p class="grade no5">等级：</p>
				<p class="sr">收入：1000哇图币</p>
			</div>

			<div class="l-item">
				<div class="m-pic-b">
					<a href="member.html">
					<img src="__IMGS__/memberinfo.jpg" width="100" height="100" alt=""> <i class="ho"><img src="__IMG__/homg.png" alt=""></i></a>
				</div>
				<b class="m-name"><a href="member.html">灰机来了</a></b>
				<p class="grade no5">等级：</p>
				<p class="sr">收入：1000哇图币</p>
			</div>

			<div class="l-item">
				<div class="m-pic-b">
					<img src="__IMGS__/memberinfo.jpg" width="100" height="100" alt=""> <i class="ho"><img src="__IMG__/homg.png" alt=""></i>
				</div>
				<b class="m-name"><a href="member.html">灰机来了</a></b>
				<p class="grade no5">等级：</p>
				<p class="sr">收入：1000哇图币</p>
			</div>

			<div class="l-item">
				<div class="m-pic-b">
					<img src="__IMGS__/memberinfo.jpg" width="100" height="100" alt=""> <i class="ho"><img src="__IMG__/homg.png" alt=""></i>
				</div>
				<b class="m-name"><a href="member.html">灰机来了</a></b>
				<p class="grade no5">等级：</p>
				<p class="sr">收入：1000哇图币</p>
			</div>

			 
			<!-- 清浮动 -->
			<div class="clearfloat"></div>
		</div>
	</div>
</div>
<!-- 会员推荐 end-->
<include file="Public/footer" />
